
/*style global de ma page*/
body {
  background: #d9f0ef;
}

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.flux {
  margin-left: 75px;
  margin-right: 75px;
}
/*index*/
/*Header de Body*/
.rounded {
  width: 650px;
  height: 150px;
}

.list-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: greenyellow;
}
/*Main de Body cover*/
.cover-text {
  padding-right: 10px;
}

.title {
  font-size: 30px;
  color: green;
}

.introduction {
  font-size: 20px;
  margin-bottom: 25px;
}
.image-home {
  width: 55%;
  flex-shrink: 0;
  height: 300px;
  object-fit: contain;
  object-position: top;
  float: right;
}

.cover .introduction a {
  text-decoration: underline;
}

/*Main de Body cover_E*/
.cover_M {
  display: flex;
  justify-content: space-evenly;
}

.image-example {
  width: 55%;
}

.cover_M-text {
  font-size: x-large;
}

.cover_M-title {
  font-size: 25px;
  text-align: center;
  color: #ef9643;
}

.cover_M-list {
  font-size: x-large;

}

.cover_M-button {
  display: flex;
  align-items: end;
  padding: 0 75px 20px 0;
}

.cover_E-title {
  font-size: 30px;
  text-align: center;
  color: red;
}

textarea {
  width: -webkit-fill-available;
  height: 300px;
}

fieldset {
  background-color: #C2B0F9;
  border: 2px solid black;
  border-radius: 6px;
  width: auto;
  padding: 5px;
}

legend {
  background-color: white;
    width: auto;
    height: auto;
    padding: 3px;
    border-radius: 3px;
}

.button-postez {
  background-color: #a0a0df;
  width: 100px;
  height: 50px;
  font-size: larger;
  font-weight: bold;
  border-radius: 15px;
}

/*Formulaire*/
.header-form h1 {
  text-align: center;
  color: red;
  text-decoration: underline;
  margin-bottom: 30px;
  font-weight: bold;
}

.icon {
  float: left;
}

.main-form-identify {
  display: flex;
  justify-content: space-evenly;

}

.send {
  color: red;
  font-weight: bold;
}

.choose  {
  margin-left: 50px;
  margin-top: 25px;
  color: red;
}

.choose-list  {
  margin-left: 50px;
  font-weight: bold;
}

.com {
  margin: 50px;
  padding: 0 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-file {
  padding-left: 25px;
  margin-left: 50px;
}

.terms-conditions {
  text-align: center;
  font-size: 1.2em;
}

.footer-form {
  text-align: center;
  margin-bottom: 50px;
}

/*advertisement*/
.body-adver {
  width: auto;
  /*height: 500px;*/
  margin: auto;
}

.header-adver {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  color: #561285;
}

.header-adver img {
  float: left;
}

.main-adver .flux {
  display: flex;
  flex-direction: column;
    gap: 50px;
}

.logo {
  background-color: rgba(52, 3, 3, 0.584);
  margin-top: 50px;
  padding: 20px;
}

.main-adver .text {
  color: white;
  font-size: 20px;
}

.logo .container-images {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.logo .container-images li {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  width: calc(50% - 25px / 2);
  height: 130px;
  padding: 30px;
  box-sizing:border-box;
}

.logo .container-images li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media all and ( min-width: 320px) and (max-width:768px ) {
/*index*/
  body {
    flex-direction: column;
  }
  .rounded {
    width: auto;
  }
  .list-links {
    flex-direction: column;
  }
  .cover_E-text {
    margin-left: 30px;
  }
/*Formulaire*/
.header-form {
  width: auto;
}
.main-form-identify {
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.com {
  flex-direction: column;
  width: 120%;
}
/*advertisement*/
.header-adver {
  width: fit-content;
}
.flux {
  margin: 5px;
}

}







