
/*style global de ma page*/
body {
  background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.flux {
  margin-left: 75px;
  margin-right: 75px;
}
/*Header de Body*/
.rounded {
  width: 650px;
  height: 150px;
}

.list-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: greenyellow;
}
/*Main de Body cover*/
.cover-text {
  padding-right: 10px;
}

.title {
  font-size: 30px;
  color: green;
}

.introduction {
  font-size: 20px;
  margin-bottom: 25px;
}
.image-home {
  width: 55%;
  flex-shrink: 0;
  height: 300px;
  object-fit: contain;
  object-position: top;
  float: right;
}

.cover .introduction a {
  text-decoration: underline;
}

/*Main de Body cover_E*/
.cover_M {
  display: flex;
  justify-content: space-evenly;
}

.image-example {
  width: 55%;
}

.cover_M-text {
  font-size: x-large;
}

.cover_M-title {
  font-size: 25px;
  text-align: center;
  color: yellowgreen;
}

.cover_M-list {
  font-size: x-large;

}

.cover_M-button {
  display: flex;
  align-items: end;
  padding: 0 75px 20px 0;
}

.cover_E-title {
  font-size: 30px;
  text-align: center;
  color: red;
}

textarea {
  width: -webkit-fill-available;
  height: 300px;
}

fieldset {
  background-color: #C2B0F9;
  border: 2px solid black;
  border-radius: 6px;
  width: auto;
  padding: 5px;
}

legend {
  background-color: white;
    width: auto;
    height: auto;
    padding: 3px;
    border-radius: 3px;
}
/*Formulaire*/

.header-form h1 {
  text-align: center;
  color: red;
  text-decoration: underline;
  margin-bottom: 30px;
  font-weight: bold;
}

.icon {
  float: left;
}

.main-form-identify {
  display: flex;
  justify-content: space-evenly;

}

.send {
  color: red;
  font-weight: bold;
}

.choose  {
  margin-left: 50px;
  margin-top: 25px;
  color: red;
}

.choose-list  {
  margin-left: 50px;
  font-weight: bold;
}

.com {
  margin: 50px;
  padding: 0 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-file {
  padding-left: 25px;
  margin-left: 50px;
}

.terms-conditions {
  text-align: center;
  font-size: 1.2em;
}

.footer-form {
  text-align: center;
  margin-bottom: 50px;
}

/*advertisement*/
.header-adver {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  color: #561285;
}

.header-adver img {
  float: left;
}

.main-adver .flux {
  display: flex;
    gap: 50px;
}

.logo {
  background-color: rgba(52, 3, 3, 0.584);
  margin-top: 50px;
  padding: 20px;
}

.main-adver .text {
  color: white;
  font-size: 20px;
}

.logo .container-images {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.logo .container-images li {
  background-color: white;
  border-radius: 5px;
  width: 50%;
}

.logo .container-images li img {
  width: 100%;
  height: 100%;
}







